<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module 5 Project</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/layout.css">


</head>

<body>
    <header id="home">
        <h1><a href="home.html">Sitename</a></h1>
    </header>

    <h3 class="albumTitle">Contra</h3>
    <h4 class="albumArtist">by <span class="artist">Vampire Weekend</span></h4>

    <p class="description">This album is by Vampire Weekend. I think it is the second one by them.</p>

    <p class="songList">
        <ul>
            <li> <a href="song.html">Contra</a></li>
            <li>California English</li>
        </ul>
    </p>

    <footer>Site by the unfortnate typo, the-pathes-o-houlihans.</footer>



</body>

</html>
