<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module 5 Project</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/layout.css">


</head>

<body>
    <header id="home">
        <h1><a href="home.html">Sitename</a></h1>
    </header>
    <button class="button">Back</button>
    <div >
        <h3 class="songTitle">Horchata</h3>
        <h4 class="songArtist">by<span class="artist"> Vampire Weekend </span> on <span class="songAlbum"><a href="album.html">Contra</a></span></h4>
    </div>

    <div class="songDetails">
        <p class="songDurationLine">This song is <span id="songDuration">4m30s</span> long. </p>
        <p class="lyricsIntro">The lyrics acording to google are:</p>
        <p><span class="songLyrics">lyrics lyrics lyrics lyrics lyrics lyrics lyrics lyrics lyrics lyrics lyrics v lyric lyrics lyrics lyrics lyrics 
            lyrics lyrics lyrics lyrics lyrics lyrics lyrics lyrics lyrics </span>
        </p>
    </div>

    <form class = "input">
        <input class="new-song-rating" type = "number" placeholder="RATING">
        <input class="new-song-review" type="text" placeholder="REVIEW">
    </form>
    <button class="song-review-button">SUBMIT</button>

    <footer>Site by the unfortnate typo, the-pathes-o-houlihans.</footer>



</body>

</html>
