.main-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}
#description-box {
    display: flex;
    justify-content: center;
}

.description-box {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    /* flex-direction: ; */
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

.linkImg {
    height: 200px;
    width: 200px;
}
.songTitle {
    display: flex;
    justify-content: center;
}
.songArtist {
    display: flex;
    justify-content: center;
}

/* .songLyrics {
    display: flex;
    justify-content: center;
} */
.songDetails {
    border: 25px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.songDurationLine {
    /* display: flex;
    justify-content: center; */
}
.lyricsIntro {
    /* display: flex;
    justify-content: center; */
}
.songLyrics {
    border: 5px solid blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    
   
    
}
/* a:hover {
    text-decoration: underline; 
}*/
